@{
    ViewData["Title"] = "Monthly Claim";
}
@model Contract_Monthly_Claim_System.Models.CreateClaim;

<div class="text-center">
    <h1 class="display-4">Submit Claim</h1>
</div>
<form>
    <label>ID</label>
    <input type="number" name="ID" class="form-control " />

    <label class="mt-4">Name</label>
    <input type="text" name="Name" class="form-control " />

    <label class="mt-4">Surname</label>
    <input type="text" name="Surname" class="form-control " />

    <label class="mt-4">Hours</label>
    <input type="number" name="Hours" class="form-control " id="file" step="0.1" />

    <label class="mt-4">Documentation</label>
    <input type="file" name="Document" class="form-control " id="file" />

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>