@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Claim" class="btn btn-primary">Create Claim</a>
    <a asp-controller="Home" asp-action="Manage" class="btn btn-primary">Manage Claim</a>
</div>
