@{
    ViewData["Title"] = "Manage";
}

<div class="text-center">
    <h1 class="display-4">Manage Claims</h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Document
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    John
                </td>
                <td>
                    Doe
                </td>
                <td>
                    10
                </td>
                <td>
                    <a href="#">Download</a>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary mt-4">Approved</button>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    John
                </td>
                <td>
                    Doe
                </td>
                <td>
                    10
                </td>
                <td>
                    <a href="#">Download</a>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary mt-4">Pending</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>